<div *ngIf="loading" class="text-center">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>

<div class="inputDiv">
    <input type="search"
           class="search"
           placeholder="Search user..."
           [(ngModel)]="term">
</div>

<app-users-post *ngFor="let user of userData | filterUsers:term" [user]="user">

</app-users-post>