<div class="row w-100" style="background-color:rgba(128,128,128,0.1)">

    <div class="col-lg-2 border shadow mt-5 p-4">
        <app-left-navigate *ngFor="let product of products" [product]="product"></app-left-navigate>
    </div>

    <div class="col-lg-6" style="margin-left: 50px">
        <div class="d-flex justify-content-center">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <input type="text" formControlName="com"
                       class="inpPost bg-white mt-4 p-4 shadow"
                       placeholder="Write a caption...">
                <button type="submit" class="subPost">
                    <i class="fa fa-arrow-left fs-3 text-primary"></i>
                </button>
            </form>
        </div>

        <app-main></app-main>

    </div>
</div>



